.header {
    padding: 36px 0;
  }
  
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--base) / 2) var(--base)
  }

  .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
  }

  .hide { 
    display: none;
  }